body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
.navbar{
    background: rgb(131,58,180);
background: linear-gradient(248deg, rgba(131,58,180,1) 0%, rgba(253,115,29,1) 50%, rgba(252,176,69,1) 100%);
}



h1 {
    margin: 0;
    font-size: 28px;
}

.hero {
    padding: 4rem 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.left {
    width: 40%;
}
.left p {
    font-size: 1.2rem;
}
.left h1 {
    font-size: 2rem;
}

.right {
    display: flex;
    justify-content: center;
    width: 40%;
}
.right img {
   
    width: 24rem
}

.container {
    max-width: 900px;
    margin: 20px auto;
    padding: 20px;
    display: flex;
    justify-content: center;
}


.feature {
    display: flex;
    align-items: flex-start;
    margin-bottom: 2rem;
}

.feature img {
    width: 80px;
    height: 80px;
    margin-right: 20px;
}

.feature-text h2 {
    margin: 0;
    font-size: 24px;
}

.feature-text p {
    margin: 10px 0;
}

.benefits {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

.benefits .benefit {
    margin: 5px;
    flex-basis: 30%;
    padding: 20px;
    background-color: #f5f5f5;
    text-align: center;
    border-radius: 5px;
}

.benefits h3 {
    margin: 0;
    font-size: 20px;
    margin-bottom: 10px;
}

.benefits p {
    margin: 0;
    font-size: 16px;
}

.slideanimationup {
    visibility: visible;
    animation: slideup 1.3s;
}

.slideanimationleft {
    visibility: visible;
    animation: slideleft 1.5s;
}

@keyframes slideup {
    0% {
        opacity: 0;
        transform: translateY(50%);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes slideleft {
    0% {
        opacity: 0;
        transform: translateX(50%);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}
@media (max-width: 600px) {
      .container {
        padding: 10px;
      }
      .hero{
        flex-direction: column;
        padding: 8px;
      }
      .left {
    width: 80vw;
}

.right {
    width: 80vw;
}

      .feature {
        flex-direction: column;
        align-items: flex-start;
      }

      .feature img {
        margin-bottom: 10px;
      }

      .benefits .benefit {
        flex-basis: 100%;
        margin-bottom: 20px;
      }
    }

    .search-form {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 20px;
      }
      .main-box {
    max-width: 450px;
      }
      .listbox {
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .listbox2{
        max-width: 600px;
      }
      .search-form input[type="text"] {
        width: 200px;
        padding: 5px;
      }
      .search-form select {
        border-radius: 5px;
        padding: 5px;
      }
      .search-form button {
        padding: 2px 10px;
        box-shadow: 20px 20px 60px #bebebe, -20px -20px 60px #ffffff;
      }
      /* CSS styling for candidate list */
      .candidate-list {
        list-style-type: none;
        padding: 0;
      }
      .candidate-list li {
        margin-bottom: 10px;
        padding: 10px;
        border-radius: 8px;
        background-color: #f2f2f2;
        box-shadow: 20px 20px 60px #bebebe, -20px -20px 60px #ffffff;
      }
